
/*    SIMPLE KEYWORDS
color: red;
margin: auto;
      TEXT KEYWORDS
text-align: center or right or left;
font-size: 000px;
font-weight: 1000;      WHAT IS THIS FOR?
text-decoration-color: blue;

border: (line width) 2px, (line type) solid, (color) red;

*/

body {
    border: 2px , solid, green;
}

.page_header {
    font-size: 30px;
    font-weight: bold;
    color: #ffff;

    background: linear-gradient(45deg,red,black);
    height: 400px;
    width: 100%;
    
    display: flex;
    /* justify-content:  */

}
.header_h1 {
    width: 20%;
    padding: 10px;
    
    flex:1;
}
.header_image {
    width: 100px;
    height: 300px;
    border-radius: 50%;

    border: 5px solid black;

    
    
    flex:1;


}



nav {
    background-color: rgba(227,186,143,1);
    color: white;
    weight: 500;
    font-size: 25px;

}
.page_bar {
    width:100%;

    height:10%;

    display:flex;
}
li {
    text-align: center;
    border: 5px solid black;
    padding: 5px;
    /*margin: 5px;*/


    flex:1;

}

/* ------------ INDEX.HTML PAGE ---------------------*/
table {
    border: 2px solid black;
    padding: 10px;
    width: 300px;
    
}
th {
    padding: 5px;
    margin: 10px;
    text-align: center;
}
td {
    border: 2px solid black;
    border-collapse: collapse;
}

form {
    background-color: red;
    color: white;
}
input {
    margin-top: 15px;
    color: black;
    border-color: blue;
}

/* 
------hovering and changing things for ALL links-----------
*/
a {
    color:orange;
    text-decoration: none;

}
a:visited {
    color:red;

}
a:hover {
    color:black;
    text-decoration: underline;
}
a:focus { /*selected and ABOUT to receive info,  */
    color: green;
}
a:active {/* WHILE an action is being taken */
    color:yellow;
}

/*
---------------menu.html page -------------------------
*/
.menu_image {
    width: 300px;
    height: 300px;
}
#Breakfast_menu {
    background-color: yellow;
    width: 300px;
}
#Lunch_menu {
    background-color: green;
    width: 300px;
}
#Dinner_menu {
    background-color:#000000;
    width: 300px;
}

            /*hover effects for menu.html divs*/
.hidden_menu {
    display: none;
    border: 3px solid black;
}
.menu:hover img  {
    height:100px;
    width: 100px;
}
.menu:hover .hidden_menu {
    display: block;
    
}
                /*LINK ANIMATIONS */
.latino_animations {
    color: green;

}
@keyframes green_white {
    from {
        color:green;
    }
    to {
        color: white;
    }
}
.latino_animations:hover {
    animation: green_white 4s;
}

.mex_animation {
    color: green;
}
@keyframes mex_flag {
    0% {color: green;}
    30% {color: white;}
    60% {color: red;}
}
.mex_animation:hover {
    animation: mex_flag 6s linear infinite;
}
.usa_animation {
    color: blue;
}
@keyframes usa_flag {
    0% {color:blue;}
    33% {color:white;}
    66% {color: red;}
}
.usa_animation:hover {
    animation: usa_flag 9s ease-in infinite;
}

.persian_animation {
    color: green;
}
@keyframes persian_flag {
    0% {color: green;}
    20% {color: white;}
    40% {color: gold;}
    60% {color: white;}
    80% {color: red;}
}
.persian_animation:hover {
    animation: persian_flag 10s ease-out infinite;
}
.greece_animation {
    color: blue;
    width: 400px;
    height:200px;
    border: 4px solid black;
    border-radius: 30%;
    background-color: white;

    transition: color 3s ease-out;

}
@keyframes greece_flag {
    0% {
        color: blue;
        background-color: white;
    }
    50% {
        color:white;
        background-color: blue;
    }
}
.greece_animation:hover {
    animation: greece_flag 4s ease-in-out infinite;

}
.transitions {
    color: yellow;
    background-color: black;
    transition: color 4s;
}
.transitions:hover {
    color: green;
    background-color: white;
}

/*-----------FITLIFE.HTML PAGE  ---------------------*/

.recipe_page {
    background-image: url('images/leather_book.jpg');
    background-repeat: no-repeat;
    background-size: 170%;
    width:100%;
    height: auto;

    display:flex;
    flex-wrap: wrap;

}
.recipe_instructions {
    color: black;
    width:60%;
    height: auto;

    flex:2;
}
.recipe_img {
    width:500px;
    flex: 1;
}

.soundboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.sound-button {
    background-color: tan;
    border: 2px solid black;
    color: #ffffff;
    font-size: 16px;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.sound-button:hover {
    background-color: #4a90e2;
}

/*-----------------------------------------------*/

.page_footer {
    font-size: 30px;
    text-align: center;
    background-color: #000000;
    color: #ffff;
    margin:20px;
    padding: 10px;
}
