
/*    SIMPLE KEYWORDS
color: red;
margin: auto;
      TEXT KEYWORDS
text-align: center or right or left;
font-size: 000px;
font-weight: 1000;      WHAT IS THIS FOR?
text-decoration-color: blue;

border: (line width) 2px, (line type) solid, (color) red;

*/

body {
    border: 2px , solid, green;
}

.page_header {
    font-size: 30px;
    font-weight: bold;
    color: #ffff;

    background: linear-gradient(45deg,red,black);
    height: 400px;
    width: 100%;
    
    display: flex;
    /* justify-content:  */

}
.header_h1 {
    width: 20%;
    padding: 10px;
    
    flex:1;
}
.header_image {
    width: 100px;
    height: 300px;
    border-radius: 50%;

    border: 5px solid black;

    
    
    flex:1;


}



nav {
    background-color: rgba(227,186,143,1);
    color: white;
    weight: 500;
    font-size: 25px;

}
.page_bar {
    width:100%;

    height:10%;

    display:flex;
}
li {
    text-align: center;
    border: 5px solid black;
    padding: 5px;
    /*margin: 5px;*/


    flex:1;

}



.recipe_page {
    background-image: url('images/leather_book.jpg');
    background-repeat: no-repeat;
    background-size: 170%;
    width:100%;
    height: auto;

    display:flex;
    flex-wrap: wrap;

}
.recipe_instructions {
    color: black;
    width:60%;
    height: auto;

    flex:2;
}
.recipe_img {
    width:500px;
    flex: 1;
}


#Breakfast_menu {
    background-color: yellow;
    width: 300px;


}
#Lunch_menu {
    background-color: green;
    width: 300px;




}
#Dinner_menu {
    background-color:#000000;
    width: 300px;
}
#burger_image {
    width: 300px;
    height: 300px;
}

table {
    border: 2px solid black;
    padding: 10px;
    width: 300px;
    
}
th {
    padding: 5px;
    margin: 10px;
    text-align: center;
}
td {
    border: 2px solid black;
    border-collapse: collapse;
}

.page_footer {
    font-size: 30px;
    text-align: center;
    background-color: #000000;
    color: #ffff;
    margin:20px;
    padding: 10px;
}
/*

/*
h1 {
    color: #0000ff;
    font-weight: 2000;

    background-color:#0000;

}
p {
    font-size: 14;
    color:#0000;

    background-color: #ffff;
}
    */
